{% extends 'base.html.twig' %}

{% block title %}Profil de
	{{ user.nom }}
	{{ user.prenom }}
{% endblock %}

{% block body %}
	<h1>{{ user.nom }}
		{{ user.prenom }}</h1>
	<hr>
	<p>{{ user.email }}</p>
	<p>{{ user.ville.id }}
		{{ user.ville.nom }}</p>
	<p>{{ user.adresse }}</p>
	{% if is_granted('ROLE_visiteur') %}
		<a href="{{ path('app_gsb_visiteur_accueil') }}" class="btn btn-primary">Accueil</a>
	{% elseif is_granted('ROLE_comptable') %}
		<a href="{{ path('app_gsb_comptable_accueil') }}" class="btn btn-primary">Accueil</a>
	{% endif %}
{% endblock %}
