{% extends 'base.html.twig' %}

{% block title %}Ajouter Mission
{% endblock %}

{% block body %}

	<p>Connecté en tant que
		{{ user.nom }}
		{{ user.prenom }}</p>

	{{ form_start(formMission) }}
	{{ form_row(formMission.libelle) }}
	{{ form_row(formMission.destination) }}
	{{ form_row(formMission.date_debut) }}
	{{ form_row(formMission.date_fin) }}
	{{ form_row(formMission.transport) }}
	{{ form_row(formMission.prx_transport) }}
	{{ form_row(formMission.hebergement) }}
	{{ form_row(formMission.just_heb) }}
	<p id="js-total"></p>
	{{ form_row(formMission.notes) }}

	<input type="submit" value="Ajouter" class="btn btn-primary">
	{{ form_end(formMission) }}

	<a href="{{ path('app_gsb_visiteur_accueil') }}" class="btn btn-primary">Accueil</a>

	<script>
		var date = document.querySelectorAll('.js-date.form-inline > select');
		var x = 0;

		for (var i = 0; i < date.length; i++) { // date[i].addEventListener('onchange', calculTotal(date[i].value));
			date[i].setAttribute('onchange', 'calculTotal()');
			console.log(date[i]);
		}

		var date_diff_indays = function(date1, date2) {
			dt1 = new Date(date1);
			dt2 = new Date(date2);
			return Math.floor((Date.UTC(dt2.getFullYear(), dt2.getMonth(), dt2.getDate()) - Date.UTC(dt1.getFullYear(), dt1.getMonth(), dt1.getDate()) ) /(1000 * 60 * 60 * 24));
		}

		function calculTotal() {
			var res = document.getElementById('js-total');
			var transport = document.getElementById('ajouter_mission_prx_transport');
			console.log(transport);
			var d1 = date[0].value;
			var m1 = date[1].value;
			var y1 = date[2].value;
			var d2 = date[3].value;
			var m2 = date[4].value;
			var y2 = date[5].value;
			var date_debut = m1 + '/' + d1 + '/' + y1;
			var date_fin = m2 + '/' + d2 + '/' + y2;
			var diff = date_diff_indays(date_debut, date_fin);
			var total = (diff - 1) * 80 + diff * 2 * 20 + Number(transport.value);
			console.log(typeof(transport.value));
			res.innerHTML = "Total : " + (diff - 1) + ' x 80 + ' + diff + ' x 2 x 20 + ' + Number(transport.value) + ' = ' + total;  
			console.log(diff);
		}
	</script>

{% endblock %}
{% block javascripts %}
{% endblock %}
