{% extends 'base.html.twig' %}

{% block title %}Modifier Mission
{% endblock %}

{% block body %}

	<p>Connecté en tant que
		{{ user.nom }}
		{{ user.prenom }}</p>

	{{ form_start(formMission) }}
	{{ form_row(formMission.libelle) }}
	{{ form_row(formMission.destination) }}
	{{ form_row(formMission.date_debut) }}
	{{ form_row(formMission.date_fin) }}
	{{ form_row(formMission.transport) }}
	{{ form_row(formMission.prx_transport) }}
	{{ form_row(formMission.hebergement) }}
	{{ form_row(formMission.just_heb) }}
	{{ form_row(formMission.notes) }}
	<input type="submit" value="Modifier" class="btn btn-primary">
	{{ form_end(formMission) }}
	<a href="{{ path('app_gsb_accueil') }}" class="btn btn-primary">Accueil</a>

{% endblock %}
