{% extends 'base.html.twig' %}

{% block title %}Page Comptable
{% endblock %}

{% block body %}
	<p>Connecté en tant que
		{{ user.nom }}
		{{ user.prenom }}<a href="{{ path('app_gsb_profil', {'id' : user.id}) }}" class="btn btn-primary">Profil</a>
		<a href="{{ path('app_gsb_logout') }}" class="btn btn-primary">Déconnexion</a>
	</p>

	<table class="table">
		<tr class="table-primary">
			<td>ID</td>
			<td>Visiteur</td>
			<td>Libelle</td>
			<td>Destination</td>
			<td>Date</td>
		</tr>
		{% for mission in missions %}
			{% if mission.etat == 0 %}
				<tr>
					<td>{{ mission.id }}</td>
					<td>{{ mission.user.nom }}
						{{ mission.user.prenom }}</td>

					<td>{{ mission.libelle }}</td>
					<td>{{ mission.destination.nom }}</td>
					<td>{{ mission.dateDebut | date('d/m/Y') }}</td>
					<td>
						<a class="btn btn-secondary" href="{{ path('app_gsb_comptable_afficher', {'id' : mission.id}) }}">Afficher</a>
					</td>
				</tr>
			{% endif %}
		{% endfor %}
	</table>

{% endblock %}
