{% extends 'base.html.twig' %}

{% block title %}Detail Mission n°{{ mission.id }}
{% endblock %}

{% block body %}
	<p>Connecté en tant que
		{{ user.nom }}
		{{ user.prenom }}<a href="{{ path('app_gsb_profil', {'id' : user.id}) }}" class="btn btn-primary">Profil</a>
		<a href="{{ path('app_gsb_logout') }}" class="btn btn-primary">Déconnexion</a>
	</p>
	<div class="d-flex align-items-center justify-content-center flex-column">
		<p><b>ID</b></p>
		<p>{{ mission.id }}</p>
		<p><b>Libelle</b></p>
		<p>{{ mission.libelle }}</p>
		<p><b>Destination</b></p>
		<p>{{ mission.destination.nom }}</p>
		<p><b>Date Début</b></p>
		<p>{{ mission.dateDebut | date('d/m/Y') }}</p>
		<p><b>Date de Fin</b></p>
		<p>{{ mission.dateFin | date('d/m/Y') }}</p>
		<p><b>Transport</b></p>
		<p>{{ mission.transport ? mission.transport.libelle }}</p>
		<p><b>Montant Transport</b></p>
		<p>{{ mission.prxTransport }}</p>
		<p><b>Hebergement</b></p>
		<p>{{ mission.hebergement ? mission.hebergement.libelle }}</p>
		<p><b>Justification</b></p>
		<p>{{ mission.justHeb }}</p>
		<p><b>Notes</b></p>
		<p>{{ mission.notes }}</p>
		<form action="{{ path('app_gsb_comptable_valider', {'id': mission.id}) }}" method="put" style="display: inline-block">
			<input type="hidden" name="_method" value="put">
			<input type="submit" value="Valider" class="btn btn-success">
		</form>
	</div>

{% endblock %}
